# yaml-language-server: $schema=https://moonrepo.dev/schemas/tasks.json
$schema: https://moonrepo.dev/schemas/tasks.json
fileGroups:
  sources:
    - "src/**/*"
    - "cargo.toml"
    - "Cargo.toml"
  test:
    - tests/**/*
    - benches/**/*
tasks:
  cargo:
    command: cargo
    local: true
  run:
    command: cargo run
    inputs:
      - "@group(sources)"
    deps:
      - ^:check
      - ^:lint
    local: true
  check:
    command: cargo check
    inputs:
      - "@group(sources)"
  lint:
    command: cargo clippy
    inputs:
      - "@group(sources)"
  fmt:
    command: cargo fmt --check
    inputs:
      - "@group(sources)"
  build:
    command: cargo build
    inputs:
      - "@group(sources)"
